<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>

    <div class="login-container">
        <h2>Login</h2>
        {% if messages %}
        <div>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <p>Username/Email: <input type="text" name="username" placeholder="Enter Username or Email" required></p>
            <p>Password: <input type="password" name="password" placeholder="Enter Password" required></p>
            <button type="submit">Login</button>
            <a href="/home/forgot-password" style="text-align:right; width: auto;">Forgot Password?</a>
        </form>
        <p>No account? <a href="/home/signup">Create account</a></p>
    </div>

</body>
</html>
