<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/password_reset_form.css">
</head>

<body>
    <form action="" method="post">
        <h1>Forgot Password</h1>
        <p>Enter your registered email address to receive a password reset link.</p>

        {% csrf_token %}
        <p style="text-align:left; font-size:16px;margin-top: 25px;"><b>Email:</b> <input type="email"  placeholder="Enter Email Address" name="email"
                required></p>
        <p><input type="submit" value="Reset Password"></p>
    </form>
</body>

</html>